{% extends "ai_tutor/base.html" %}
{% load static %} 
{% block title %} Login {% endblock %} 

{% block content %}
<style>
  label {
    font-size: 25px !important;
  }
</style>
<div class="container ">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-3 mt-5 p-5"style="border:2px solid black;border-radius: 10px;">
      <h1 class="text-center">Log in</h1>
      <form action="" method="post" novalidate>
        {% csrf_token %} 
        {% for fm in form %}
        <div class="form-group">
          {{ fm.label_tag }} {{ fm }}
          <small class="text-danger">{{ fm.errors|striptags }}</small> <br />
        </div>
        {% endfor %}
        <small>
          <a href="{% url 'password-reset' %}" style="font-size: 18px;"> Forget Password ?</a></small
        >

        <button type="submit" class="btn btn-dark btn-lg btn-block mt-4">
          Login
        </button>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        {% endif %}

      </form>
      <p class="mt-4">Don't have an account? <a href="{% url 'register' %}" class="text-reset">Register here</a></p>
    </div>
  </div>
</div>

{% endblock content %}
