{% extends "ai_tutor/base.html" %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %} 
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="{% static 'images/logo-Color.png' %}" alt="logo" width="320px" class="d-block mx-auto mb-2">
          <h3 class="panel-title">Password Reset Done</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-success">
           <h3>An Email has been sent with instructions to Reset your password
            <b>Check Your Email!</b></h3> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

