{% extends "ai_tutor/base.html" %}
{% load static %}

{% block title %}
    Chatbot
{% endblock title %}

{% block content %}

    {% include "ai_tutor/navbar.html" %}
    
    <div class="chat-container" style="background-color: #f8f4eb; overflow-y: auto; max-height: 70vh; padding-bottom: 150px; height: 85vh;">
        <div id="chat-log" style="padding-left: 100px; padding-right: 100px; padding-top: 20px;">
            <!-- Chat log content goes here -->
        </div>
    </div>

    <div class="predefined-questions text-center mb-5" style="padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 52px; background-color: #f8f4eb;">
        <button class="predefined-question-btn" data-question="What is science and technology?">What is science and technology?</button>
        <button class="predefined-question-btn" data-question="What is data?">What is data?</button> 
        <button class="predefined-question-btn" data-question="What is openai?">What is openai?</button>
        <button class="predefined-question-btn" data-question="Provide information about American High School Academy">Provide information about American High School Academy</button>
    </div>
    
    <div class="typing-container">
        <div class="typing-content">
            <div class="typing-textarea">
                <textarea id="chat-input" spellcheck="false" placeholder="Enter Question here" required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
            <div class="typing-controls">
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        @keyframes fadeInOut {
            0%, 100% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
        }

        .thinking-message {
            animation: fadeInOut 1s infinite;
        }

        /* Style for predefined question buttons */
        .predefined-questions {
            text-align: left;
            margin-bottom: 10px;
        }

        .predefined-question-btn {
            background-color: #52231b;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            outline: none;
        }

        .predefined-question-btn:hover {
            background-color: #52231b;
        }

        /* Add styles for user and bot message bubbles */
        .user-message {
            text-align: right;
            margin-bottom: 10px;
        }

        .user-bubble {
            background-color: #52231b;
            color: white;
            border-radius: 10px;
            padding: 10px;
            margin: 5px 0;
            display: inline-block;
            max-width: 70%;
        }

        .bot-message {
            text-align: left;
            margin-bottom: 10px;
        }

        .bot-bubble {
            background-color: #0066FF;
            color: white;
            border-radius: 10px;
            padding: 10px;
            margin: 5px 0;
            display: inline-block;
            max-width: 70%;
        }

        /* Emoji styles */
        .emoji {
            margin-right: 5px;
            font-size: 20px;
            vertical-align: middle;
        }

        .feedback-buttons {
            /* text-align: center; */
            margin-top: 10px;
        }

        .feedback-buttons button {
            background-color:transparent;
            font-size: 14px;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            margin-right: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            outline: none;
        }

        .feedback-buttons button:hover {
            background-color: transparent;
            /* add animated hover effect */
            animation: fadeInOut 1s infinite;
        }
    </style>
    <script>
        $(document).ready(function () {
            const chatLog = $('#chat-log');
            const userInput = $('#chat-input');
            const sendButton = $('#send-btn');

            function appendMessage(message, sender, emoji) {
                const senderClass = sender === 'User' ? 'user-message' : 'bot-message';
                const bubbleClass = sender === 'User' ? 'user-bubble' : 'bot-bubble';
                const emojiHTML = emoji ? `<span class="emoji">${emoji}</span>` : '';
                const feedbackButtons = sender === 'Bot' ? '<div class="feedback-buttons"><button class="material-symbols-rounded thumbs-up-btn">👍</button><button class="material-symbols-rounded thumbs-down-btn">👎</button></div>' : '';
                const messageDiv = `
                    <div class="${senderClass}">
                        <div class="${bubbleClass}">
                            ${emojiHTML}${message}
                            ${feedbackButtons}
                        </div>
                    </div>
                `;
                chatLog.append(messageDiv);
                chatLog.scrollTop(chatLog[0].scrollHeight); // Scroll to the bottom of the chat log
            }

            function showThinkingIndicator() {
                const thinkingMessage = '<div class="bot-message thinking-message"> <span class="emoji">🤔</span></div>';
                chatLog.append(thinkingMessage);
                chatLog.scrollTop(chatLog[0].scrollHeight); // Scroll to the bottom of the chat log
            }

            function handleUserInput() {
                const userMessage = userInput.val();
                appendMessage(userMessage, 'User', '👨🏻‍🦰');
                userInput.val(''); // Clear the input field
                showThinkingIndicator(); // Show thinking indicator
                $.ajax({
                    url: '/staffs/',
                    type: 'POST',
                    data: { question: userMessage, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function (data) {
                        const botMessage = data.response;
                        appendMessage(botMessage, 'Bot', '🤖');
                    },
                    error: function () {
                        const errorMessage = '<div class="bot-message" style="color: red; padding-bottom: 20px; font-size: 20px;">Error processing the request.</div>';
                        chatLog.append(errorMessage);
                    },
                    complete: function () {
                        $('.thinking-message').remove(); // Remove thinking indicator
                    }
                });
            }

            // Handling click events for predefined questions
            $('.predefined-question-btn').click(function() {
                const question = $(this).data('question');
                appendMessage(question, 'User', '👨🏻‍🦰');  // Append user's question to the chat log
                showThinkingIndicator();  // Show thinking indicator
                $.ajax({
                    url: '/staffs/',
                    type: 'POST',
                    data: { question: question, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function (data) {
                        const botMessage = data.response;
                        appendMessage(botMessage, 'Bot', '🤖');  // Append bot's response to the chat log
                    },
                    error: function () {
                        const errorMessage = '<div class="bot-message" style="color: red; padding-bottom: 20px; font-size: 20px;">Error processing the request.</div>';
                        chatLog.append(errorMessage);
                    },
                    complete: function () {
                        $('.thinking-message').remove();  // Remove thinking indicator
                    }
                });
            });

            userInput.keypress(function (event) {
                if (event.which === 13) { 
                    handleUserInput();
                }
            });

            sendButton.click(handleUserInput);

            // Updated click events for thumbs up and down buttons
            chatLog.on('click', '.thumbs-up-btn', function () {
                toggleFeedbackButtons($(this));
                sendFeedback(true);
            });

            chatLog.on('click', '.thumbs-down-btn', function () {
                toggleFeedbackButtons($(this));
                sendFeedback(false);
            });

            function toggleFeedbackButtons(clickedButton) {
                const parentMessage = clickedButton.closest('.bot-message');
                const feedbackButtons = parentMessage.find('.feedback-buttons button');

                // Hide all buttons
                feedbackButtons.hide();

                // Show only the clicked button
                clickedButton.show();

                // Store the feedback value in a data attribute
                parentMessage.data('is_positive', clickedButton.hasClass('thumbs-up-btn'));
            }

            function sendFeedback(isPositive) {
                const is_positive = isPositive ? 'true' : 'false';

                $.ajax({
                    url: '/staffs/',
                    type: 'POST',
                    data: {
                        is_positive: is_positive,
                        question: $('#chat-log .user-message:last .user-bubble').text(),  // Add the user's question to the data
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        // Handle success if needed
                        console.log('Feedback saved successfully');
                    },
                    error: function () {
                        // Handle error if needed
                        console.error('Error saving feedback');
                    }
                });
            }
        });
    </script>

{% endblock content %}
