{% extends "ai_tutor/base.html" %}
{% load static %}
{% block title %} OTP Verification {% endblock %}
{% block content %}

<style>
  label {
    font-size: 25px !important;
  }
</style>
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-3 mt-2 p-5" style="border:2px solid black;border-radius: 10px;">
      <img src="{% static 'images/logo-Color.png' %}" alt="logo" width="320px" class="d-block mx-auto mb-2">
      <h1 class="text-center">OTP Verification</h1>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <form action="{% url 'verify_otp' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <label for="otp">Enter OTP:</label>
          <input type="text" id="otp" name="otp" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-dark btn-lg btn-block mt-2">
          Verify OTP
        </button>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </form>
      <p class="mt-4">Didn't receive OTP? <a href="#" class="text-reset">Resend OTP</a></p>
    </div>
  </div>
</div>

{% endblock content %}
