{% extends "sma/base.html" %}
{% block title %} Change Password Done {% endblock title %} 
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Change Password Done</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-success">Password Change Successfully</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

