{% extends "ai_tutor/base.html" %}
{% block title %} Password Reset Complete {% endblock title %} 
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <div class="alert alert-success">
            Password Reset Complete Successfully <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
